.content-footer {
  position: static;
  height: 75px;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  z-index: 3;}

.push {
  margin-bottom: 75px;
}

.content-footer p {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  background-position: center;
  max-width: 640px;
  font-size: 12px;
  color: #fff; }

.footerInfo {
  margin: 0 auto;
  padding-top: 10px;
  width: 25%;
  background-position: center;
  position: relative;
}

.content-footer .wrapper {
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 5px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-position: center;
  float: left;}

.content-footer .wrapperMobile {
  display: none;
  margin: 0 auto;
  margin-left: 39%;
  padding-top: 10px;
  width: 27%;
  background-position: center;
  text-align: center;
  text-decoration: none;}

.content-footer .socialMobile {
  display: inline-block;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  margin: 0px 5px 0px 5px;
}

.content-footer .social {
  display: inline-block;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 0px 5px 0px 5px;
}
.content-footer img {
  border-radius: 25px;}
